<div class="row">
    <div class="col-md-4" *ngFor="let band of bands" style="border: brown solid">
      <a [routerLink]="['/bands', band.id]" routerLinkActive="active" class="list-group-item list-group-item-action"
       [ngStyle]="{'background-image': 'url(' + 'assets/images/' + band.picture + ')', 'background-size': 'auto 100%', 'background-repeat': 'no-repeat'}">
        {{band.name}}
      </a>
      <div class="col">
        <button (click)="onRemove(band.id)">X</button>
      </div>
    </div>
</div>
