<div>
  <h5>New Event</h5>

  <span class="duration">(
    <label>Start :</label>
    <button class="fa fa-bullseye" (click)="activateStartMode()"></button>&nbsp;
    <label></label>
    <label>End :</label>
    <button class="fa fa-bullseye" (click)="activateEndMode()"></button>
    <label></label>)
  </span>

  <form #form="ngForm" (submit)="createEvent()">
    <div>
      <label for="title">Title :&nbsp;</label>
      <input type="text" name="title" [(ngModel)]="newEvent.title" required #name="ngModel" />
      <br/>
      <br/>
      <label for="description">Description :</label>
      <br/>
      <textarea rows="4" name="description" [(ngModel)]="newEvent.description" required #name="ngModel"></textarea>
      <br/>
      <label>Frequency :</label>
      <div class="frequency" (mouseleave)="resetFrequencyColors()">
        <button type="button" *ngFor="let frequency of frequencies; let idx = index;" (mouseenter)="updateFrequencyColors(idx)" (click)="updateFrequency(idx)"
          [ngStyle]="{'background-color': frequencyColors[idx]}">
          {{frequency}}
        </button>
      </div>
      <br/>
      <button class="submit" type="submit">Create</button>
    </div>
  </form>
</div>
