textarea {
  width: 60%;
  resize: none;
}

h5 {
  margin: 15px;
  display: inline;
}

div {
  margin: 15px;
}

div.frequency {
  display: inline-flex;
}

button {
  border: solid 1px black;
  margin: 0px;
  cursor: pointer;
}

button.submit {
  float: right;
}

span.duration > button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
