textarea {
  width: 100%;
  resize: none;
}

h5 {
  margin: 15px;
  display: inline;
}

div.main {
  margin: 15px;
}

div.frequency {
  display: inline-flex;
}

div.row {
  margin-top: 15px;
  margin-bottom: 15px;
}

button {
  border: solid 1px black;
  margin: 0px;
  cursor: pointer;
}

button.submit {
  float: right;
}

input {
  width: 80%;
}

span.duration > button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

img {
  width: 30%;
  margin: auto;
  display: block;
}
