<div class="main">
  <h5>New Event</h5>

  <span class="duration">(
    <label>Start :</label>
    <button class="fa fa-bullseye" (click)="activateStartMode()"></button>&nbsp;
    <label>{{startTime | date:'hh:mm a'}}</label>&nbsp;|&nbsp;&nbsp;
    <label>End :</label>
    <button class="fa fa-bullseye" (click)="activateEndMode()"></button>
    <label>{{endTime | date:'hh:mm a'}}</label>)
  </span>

  <form #form="ngForm" (submit)="createEvent()">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md">
          <label for="title">Title :&nbsp;</label>
          <input type="text" name="title" [(ngModel)]="newEvent.title" required #name="ngModel" (keyup)="searchTypeInTitle($event)" />
          <br/>
          <br/>
          <img [src]="eventTypeImage">
        </div>
        <div class="col-md">
          <label for="description">Description :</label>
          <br/>
          <textarea rows="6" name="description" [(ngModel)]="newEvent.description" required #name="ngModel"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <label>Frequency :</label>
          <div class="frequency" (mouseleave)="resetFrequencyColors()">
            <button type="button" *ngFor="let frequency of frequencies; let idx = index;" (mouseenter)="updateFrequencyColors(idx)" (click)="updateFrequency(idx)"
              [ngStyle]="{'background-color': frequencyColors[idx]}">
              {{frequency}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <button class="submit" type="submit">Create</button>
  </form>
</div>
