<p><b>{{song?.name}}</b> <span *ngIf="getInfoByBand(); let infoByBand">({{infoByBand.key}} / {{infoByBand.bpm}} bpm)</span></p>
<br/>
<div class="row">
  <div class="col"></div>
  <div *ngFor="let part of song?.structure" class="col" align="center">
    {{part}}
  </div>
</div>
<div class="row" *ngFor="let musician of musicians">
  <div class="col" [style.color]="getMusicianColor(musician)">{{musician.name}}</div>
  <div *ngFor="let part of song?.structure" class="col" align="center">
    <div [ngStyle]="{'background-color': doesMusicianPlayThisPart(part, musician.id) ? getMusicianColor(musician) : '#eff5f5'}">&nbsp;</div>
  </div>
</div>
