<h4>Incoming Songs</h4>

<br/>

<div *ngIf="hasIncomingSongs(); else addIncomingSongs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4" *ngFor="let topSong of getTopThreeSongs()">
        <label>{{topSong.title}}</label>
        <wpw-songs-level [readOnly]="true" [defaultLevel]="topSong.level"></wpw-songs-level>
      </div>
    </div>
  </div>

  <a *ngIf="band" [routerLink]="['/bands', band.id, 'incoming-songs', 'show']" routerLinkActive="active">
    See incoming songs!
  </a>
</div>

<ng-template #addIncomingSongs>
  <a *ngIf="band" [routerLink]="['/bands', band.id, 'incoming-songs', 'add']" routerLinkActive="active">
    Add incoming songs!
  </a>
</ng-template>
