<form #form="ngForm" (submit)="update()">
  <div class="form-group">
    <label for="name">Name :</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="musician.name" required #name="ngModel" />
    <br/>
    <label for="roles">Role :</label>
    <ss-multiselect-dropdown [options]="myOptions" name="roles" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
    <br/>
    <label for="color">Color :</label>
    <br/>
    <input [style.background]="color" [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']" [(colorPicker)]="color"
      [(ngModel)]="color" name="color" />
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
