<table cellpadding="10">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Link</th>
    <th *ngFor="let musician of musicians;" [style.color]="musician.color">{{ musician.name }}</th>
    <th>Total</th>
    <th>Winner</th>
  </tr>
  <tr *ngFor="let musician of musicians; let i = index;">
    <td [style.color]="musician.color">
      {{ musician.name }}
      <br/>
      <!-- <img *ngFor="let roleIconPath of getRolesIconsPaths(musician)" src="{{roleIconPath}}" width="30" height="30" /> -->
    </td>
    <!-- <td *ngFor="let part of song?.structure; let j = index;" (click)="updatePartForMusician(musician, part)"
      [ngStyle]="{'background-color': doesMusicianPlayThisPart(part, musician.id) ? musician.color : '#eff5f5'}"></td> -->
  </tr>
</table>
