<div class="calendar-header">
  <!-- <button>
    <i class="fa fa-caret-left"></i>
    <i class="fa fa-caret-left"></i>
  </button>&nbsp; -->
  <button class="fa fa-caret-left" (click)="switchToLastMonth()" title="Switch to the last month"></button>&nbsp;
  <h5>{{selectedDay | date:'MMMM'}}&nbsp;{{selectedDay | date:'y'}}</h5>&nbsp;
  <button class="fa fa-caret-right" (click)="switchToNextMonth()" title="Switch to the next month"></button>&nbsp;
  <button class="fa fa-bullseye" (click)="switchToCurrentMonth()" title="Switch to current month"></button>
  <!-- <button>
    <i class="fa fa-caret-right"></i>
    <i class="fa fa-caret-right"></i>
  </button> -->
</div>

<br/>

<div class="container-fluid">
  <div class="row">
    <table>
      <tr>
        <th *ngFor="let day of dayShortNames">
          {{day}}
        </th>
      </tr>
      <tr *ngFor="let weekDays of daysPerWeek">
        <td *ngFor="let day of weekDays" [ngClass]="isCurrentDay(day) ? 'current-day' : day > 0 ? 'day' : 'no-day'"
            (click)="selectDate(day)">
          <label>{{day}}</label>
          <div *ngIf="hasDayEvents(day)">
            <label *ngFor="let event of events(day)">{{event.title}}</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
