<div class="calendar-header">
  <button class="fa fa-caret-left" (click)="switchToLastMonth()"></button>&nbsp;
  <h5>{{selectedDate | date:'MMMM'}}&nbsp;{{selectedDate | date:'y'}}</h5>&nbsp;
  <button class="fa fa-caret-right" (click)="switchToNextMonth()"></button>
</div>

<br/>

<div class="container-fluid">
  <div class="row">
    <table>
      <tr>
        <th *ngFor="let day of dayShortNames">
          {{day}}
        </th>
      </tr>
      <tr *ngFor="let weekDays of daysPerWeek">
        <td *ngFor="let day of weekDays" [ngClass]="isCurrentDay(day) ? 'current-day' : day > 0 ? 'day' : 'no-day'"
            (click)="selectDay(day)">
          <label>{{day}}</label>
          <div *ngIf="hasDayEvents(day)">
            <label *ngFor="let event of events(day)">{{event.title}}</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
