<div class="container-fluid">
  <div class="row">
    <label>{{currentMonth}}&nbsp;{{currentYear}}</label>
  </div>
  <div class="row">
    <table>
      <tr>
        <th *ngFor="let day of dayShortNames">
          {{day}}
        </th>
      </tr>
      <tr *ngFor="let weekDays of daysPerWeek">
        <td *ngFor="let day of weekDays" [ngClass]="isCurrentDay(day) ? 'current-day' : day > 0 ? 'day' : 'no-day'">
          <label>{{day}}</label>
          <div *ngIf="hasDayEvents(day)">
            <label *ngFor="let event of events(day)">{{event.title}}</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
