<div class="main">
  <div [ngClass]="{'startMode': startModeActivated}">
    <h3>Events</h3>

    <br/>

    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="{'col-md cell': true, 'startMode': startModeActivated, 'selectionMode': !startModeActivated}"
          *ngFor="let hour of morning" (click)="displayOrCreateEvents(hour)">
          <label>{{hour}}</label>
          <div *ngIf="hasEvents(hour)">
            <label *ngFor="let evt of getEvents(hour)">{{evt.title}}</label>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="{'col-md cell': true, 'startMode': startModeActivated, 'selectionMode': !startModeActivated}"
          *ngFor="let hour of afternoon" (click)="displayOrCreateEvents(hour)">
          <label>{{hour}}</label>
          <div *ngIf="hasEvents(hour)">
            <label *ngFor="let evt of getEvents(hour)">{{evt.title}}</label>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <wpw-calendar-day-events-show *ngIf="eventsToDisplay" [events]="events"></wpw-calendar-day-events-show>

    <br/>

    <wpw-calendar-day-events-update [band]="band" [selectedHour]="selectedHour" (startModeActivated)="activateStartMode()"></wpw-calendar-day-events-update>
  </div>
</div>
