<div class="main">
  <div [ngClass]="{'startEndMode': startModeActivated || endModeActivated}">
    <h3>Events</h3>

    <br/>

    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="{'col-md cell': true, 'startEndMode': startModeActivated || endModeActivated, 'selectionMode': !startModeActivated && !endModeActivated}"
          *ngFor="let hour of morning" (click)="displayOrCreateEvents(hour)">
          <label>{{hour}}</label>
          <div *ngIf="hasEvents(hour)">
            <div *ngFor="let event of getEvents(hour)">
              <label>{{event.title}}</label><br/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br/>

    <div class="container-fluid">
      <div class="row">
        <div [ngClass]="{'col-md cell': true, 'startEndMode': startModeActivated || endModeActivated, 'selectionMode': !startModeActivated && !endModeActivated}"
          *ngFor="let hour of afternoon" (click)="displayOrCreateEvents(hour)">
          <label>{{hour}}</label>
          <div *ngIf="hasEvents(hour)">
            <div *ngFor="let event of getEvents(hour)">
              <label>{{event.title}}</label><br/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md" *ngIf="selectedHour && band?.hasEventsAt(selectedHour)">
          <wpw-calendar-day-events-show [band]="band" [selectedHour]="selectedHour"></wpw-calendar-day-events-show>
        </div>
        <div class="col-md">
          <wpw-calendar-day-events-update [band]="band" [selectedHour]="selectedHour"
            [startTime]="startTime" [endTime]="endTime" (startModeUpdated)="switchStartMode()" (endModeUpdated)="switchEndMode()">
          </wpw-calendar-day-events-update>
        </div>
      </div>
    </div>
  </div>
</div>
