<div class="main">
  <h3>Events</h3>

  <br/>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md cell" *ngFor="let hour of morning" (click)="displayOrCreateEvents(hour)">
        <label>{{hour}}</label>
        <div *ngIf="hasEvents(hour)">
          <label *ngFor="let event of getEvents(hour)">{{event.title}}</label>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md cell" *ngFor="let hour of afternoon" (click)="displayOrCreateEvents(hour)">
        <label>{{hour}}</label>
        <div *ngIf="hasEvents(hour)">
          <label *ngFor="let event of getEvents(hour)">{{event.title}}</label>
        </div>
      </div>
    </div>
  </div>

  <br/>

  <wpw-calendar-day-events-show *ngIf="eventsToDisplay" [events]="events"></wpw-calendar-day-events-show>
  <wpw-calendar-day-events-update *ngIf="eventsToCreate"></wpw-calendar-day-events-update>
</div>
