<h4>Songs</h4>
<br/>

<div class="row">
  <div class="song-item col-md-4 list-group-item list-group-item-action" *ngFor="let song of songs"
    [routerLink]="['/bands', band?.id, 'songs', song.id]" routerLinkActive="active">
    <label>{{song.name}}</label>
    <wpw-songs-level [readOnly]="true" [defaultLevel]="song.level"></wpw-songs-level>
  </div>
  <div id="add" class="song-item col-md-4 list-group-item list-group-item-action">
    <button class="fa fa-plus" [routerLink]="['/bands', band?.id, 'songs', 'add']"></button>
  </div>
</div>
