<h4>Songs</h4>
<br/>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let song of songs">
      <button class="song-item list-group-item list-group-item-action" (click)="storeUrlBeforeNavigation()"
        [routerLink]="['/bands', band?.id, 'songs', song.id]" routerLinkActive="active" [ngStyle]="getSongProgressionStyle(song)">
        <label>{{song.title}}</label>
        <wpw-songs-level [readOnly]="true" [defaultLevel]="song.level"></wpw-songs-level>
      </button>
    </div>
    <div class="col-md">
      <div id="add" class="song-item list-group-item list-group-item-action">
        <button class="fa fa-plus" [routerLink]="['/bands', band?.id, 'songs', 'add']" (click)="storeUrlBeforeNavigation()">
        </button>
      </div>
    </div>
  </div>
</div>
