div {
  position: relative;
}

img {
  max-height: 300px;
  width: 100%;
  opacity: 0.5;
}

h4 {
  position: absolute;
  top: 2%;
  left: 2%;
}

p {
  position: absolute;
  top: 20%;
  left: 10%;
}

button.previous {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 1;
}

button.next {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 1;
}

span.fa-circle.empty {
  -webkit-text-fill-color: rgba(0,0,0,0);
  -webkit-text-stroke-width: 1px;
}

div.slide-indicator {
  position: absolute;
  bottom: 10%;
  left: 45%;
}

button.fa-remove {
  position: absolute;
  top: 5%;
  right: 2%;
  border: none;
  background-color: rgba(0,0,0,0);
}
