<div class="container-fluid">
  <div class="row" style="text-align: center;">
    <div id="band-header" class="col-md-12">
      <h2>{{band?.name}}</h2>
      <button (click)="onRemove()" class="fa fa-times"></button>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="col-md">
      <wpw-songs-overview></wpw-songs-overview>
    </div>
    <div class="col-md">
      <wpw-musicians-overview></wpw-musicians-overview>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md">
            <wpw-incoming-songs-overview [band]="band"></wpw-incoming-songs-overview>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <hr width="75%">
            <wpw-notes-update [band]="band"></wpw-notes-update>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <wpw-calendar-show (daySelected)="dayEventsToDisplay = true;"></wpw-calendar-show>
    </div>
  </div>
</div>

<wpw-calendar-day-events-update [hidden]="!dayEventsToDisplay"></wpw-calendar-day-events-update>
