[class*="col-"] {
  border: solid 1px black;
  margin: 5px;
  padding: 10px;
  background-color: rgb(240, 230, 211);
  text-align: center;
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

#band-header {
  border: none;
}
