<table cellpadding="10">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Link</th>
    <th *ngFor="let musician of musicians;">
      <label [style.color]="musician.color">{{ musician.name }}</label>
    </th>
    <th>Total</th>
    <th>Winner</th>
  </tr>
  <tr *ngFor="let musicianRow of musicians;">
    <td>
      <label [style.color]="musicianRow.color">{{ musicianRow.name }}</label>
    </td>
    <td>
      <table>
        <tr *ngFor="let proposedSong of incomingSongsHelper.getSongsProposedBy(musicianRow)">
          <td>
            <label>{{ proposedSong.title }}</label>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr *ngFor="let proposedSong of incomingSongsHelper.getSongsProposedBy(musicianRow)">
          <td>
            <label>{{ proposedSong.link }}</label>
          </td>
        </tr>
      </table>
    </td>
    <td *ngFor="let musicianCol of musicians;">
      <table>
        <tr *ngFor="let proposedSong of incomingSongsHelper.getSongsProposedBy(musicianRow)">
          <td [title]="incomingSongsHelper.getSongComment(proposedSong, musicianCol)">
            <label [style.color]="musicianCol.color">{{ incomingSongsHelper.getSongScore(proposedSong, musicianCol) }}</label>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <table>
        <tr *ngFor="let proposedSong of incomingSongsHelper.getSongsProposedBy(musicianRow)">
          <td>
            <label>{{ proposedSong.score() }}</label>
          </td>
        </tr>
      </table>
    </td>
    <td>
      <label>{{ incomingSongsHelper.displaySongTitleWithHigherScoreFrom(musicianRow) }}</label>
    </td>
  </tr>
</table>

<br/>
<button [routerLink]="['/bands', band?.id, 'incoming-songs', 'update']">Update</button>
