<h4>Musicians</h4>
<br/>
<div class="row">
  <div class="col-md-3">
    <div class="row" *ngFor="let musician of musicians">
      <div class="col">
        <a [routerLink]="['/bands', bandId, 'musicians', musician.id]" routerLinkActive="active" class="list-group-item list-group-item-action">
          {{musician.name}} <img *ngFor="let roleIconPath of getRolesIconsPaths(musician)" src="{{roleIconPath}}" width="30" height="30" />
        </a>
      </div>
      <div class="col">
        <button (click)="onRemove(musician.id)">X</button>
      </div>
    </div>
    <br/>
    <button [routerLink]="['/bands', bandId, 'musicians', 'add']" class="fa fa-user-plus"></button>
  </div>
  <div class="col-md">
    <router-outlet></router-outlet>
  </div>
</div>
