<h4>Musicians</h4>
<div class="row">
  <div class="col-md-3">
    <div class="row" *ngFor="let musician of musicians">
      <div class="col">
        <a [routerLink]="['/bands', bandId, 'musicians', musician.id]" routerLinkActive="active" class="list-group-item list-group-item-action">
          {{musician.name}}
        </a>
      </div>
      <div class="col">
        <button (click)="onRemove(musician.id)">X</button>
      </div>
    </div>
    <button [routerLink]="['/bands', bandId, 'musicians', 'add']">New Musician</button>
  </div>
  <div class="col-md">
    <router-outlet></router-outlet>
  </div>
</div>
