<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="border-right: solid 1px;">
      <div class="row" *ngFor="let musician of musicians">
        <div class="col-md-10">
          <div class="musician-item">
            <a [routerLink]="['/bands', band.id, 'musicians', musician.id]" routerLinkActive="active" class="list-group-item list-group-item-action">
              {{musician.name}}
              <br/>
              <img *ngFor="let roleIconPath of getRolesIconsPaths(musician)" src="{{roleIconPath}}" width="30" height="30" />
            </a>
          </div>
        </div>
        <div class="col-md-2">
          <button (click)="onRemove(musician.id)" class="fa fa-times"></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <button id="add" [routerLink]="['/bands', band?.id, 'musicians', 'add']" class="fa fa-user-plus"></button>
        </div>
      </div>
    </div>
    <div class="col-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
