div {
  .row {
    border: none;
    margin-bottom: 10px;
  }

  .song-item {
    cursor: pointer;
  }

  .song-item:hover {
    border: solid 1px;
  }

  button {
    background-color: rgba(0,0,0,0);
    font-size: 15px;
    border: none;
    cursor: pointer;
    height: 100%;
  }

  button#add {
    cursor: pointer;
    width: 100%;
  }

  button#add:hover {
    border: solid 1px;
    background-color: rgb(238, 235, 235);
  }
}
