<h4>Songs</h4>
<br/>
<div class="row">
  <div class="col-md-4">
    <div class="row" *ngFor="let song of songs">
      <div class="col-md-10">
        <a [routerLink]="['/bands', bandId, 'songs', song.id]" routerLinkActive="active" class="list-group-item list-group-item-action">
          {{song.name}}
        </a>
      </div>
      <div class="col">
        <button (click)="onRemove(song.id)">X</button>
      </div>
    </div>
    <br/>
    <button [routerLink]="['/bands', bandId, 'songs', 'add']">New Song</button>
  </div>
  <div class="col-md">
    <router-outlet></router-outlet>
  </div>
</div>
