<form #form="ngForm" (submit)="add()">
  <div class="form-group">
    <label for="name">Name :</label>
    <input type="text" class="form-control" name="name" [(ngModel)]="song.name" required #name="ngModel" />
    <br/>
    <label for="tonalities">Tonality :</label>
    <select class="form-control" name="tonalities" [(ngModel)]="tonality">
      <option *ngFor="let tonality of tonalities">{{tonality}}</option>
    </select>
    <br/>
    <label for="tempo">Tempo :</label>
    <input type="number" name="tempo" [(ngModel)]="tempo" />
  </div>
  <label for="structure">Structure :</label>
  <button type="button" *ngFor="let songPart of availableParts" (click)="addSongPart(songPart)">{{songPart}}</button>
  <button type="button" (click)="clearSongParts()">X</button>
  <br/>
  <div class="row">
    <div class="col"></div>
    <div *ngFor="let part of songParts" class="col" align="center">
      {{part}}
    </div>
  </div>
  <div class="row" *ngFor="let musician of musicians">
    <div class="col" [style.color]="getMusicianColor(musician)">{{musician.name}}</div>
    <div *ngFor="let part of songParts" class="col" align="center">
      -
      <!-- <div [ngStyle]="{'background-color': doesMusicianPlayThisPart(part, musician.id) ? getMusicianColor(musician) : '#eff5f5'}">&nbsp;</div> -->
    </div>
  </div>
  <br/>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
